# unit tests in containerased env
services:
  test-linux:
    build:
      context: .
      args:
        TESTKIT_BASE_IMAGE: ${TESTKIT_BASE_IMAGE:-ontoportal/testkit-base:ruby3.2-bullseye}
    command: ["bash", "-lc", "bundle exec rake test"]
    environment:
      COVERAGE: 'true' # enable simplecov code coverage
      REDIS_HOST: redis-ut
      MGREP_HOST: mgrep-ut
      MGREP_PORT: 55556
      SOLR_TERM_SEARCH_URL: http://solr-ut:8983/solr
      SOLR_PROP_SEARCH_URL: http://solr-ut:8983/solr
    depends_on:
      solr-ut:
        condition: service_healthy
      redis-ut:
        condition: service_healthy
    profiles:
      - linux

  redis-ut:
    image: redis
    ports:
      - 6379:6379
    command: ["redis-server", "--save", "", "--appendonly", "no"]
    healthcheck:
      test: redis-cli ping
      interval: 10s
      timeout: 3s
      retries: 10

  solr-ut:
    image: solr:9
    command: bin/solr start -cloud -f
    ports:
      - 8983:8983
    healthcheck:
       test: ["CMD", "curl", "-sf", "http://localhost:8983/solr/admin/info/system?wt=json"]
       start_period: 5s
       interval: 10s
       timeout: 5s
       retries: 5

  4store-ut:
    image: bde2020/4store
    platform: linux/amd64
    ports:
      - 9000:9000
    command: >
      bash -c "4s-backend-setup --segments 4 ontoportal_test
      && 4s-backend ontoportal_test
      && 4s-httpd -D -s-1 -p 9000 ontoportal_test"
    healthcheck:
      test: ["CMD", "4s-backend-info", "ontoportal_test"]
      start_period: 5s
      interval: 10s
      timeout: 10s
      retries: 5
    profiles:
      - fs

  agraph-ut:
    image: franzinc/agraph:v8.4.3
    platform: linux/amd64 # agraph doesn't provide arm platform
    environment:
      - AGRAPH_SUPER_USER=test
      - AGRAPH_SUPER_PASSWORD=xyzzy
    shm_size: 1g
    ports:
      - 10035:10035
    command: >
       bash -c "/agraph/bin/agraph-control --config /agraph/etc/agraph.cfg start
       ; agtool repos create --supersede ontoportal_test
       ; agtool users add anonymous
       ; agtool users grant anonymous root:ontoportal_test:rw
       ; tail -f /agraph/data/agraph.log"
    healthcheck:
      test: ["CMD", "agtool", "storage-report", "ontoportal_test"]
      start_period: 30s # AllegroGraph can take a very loooooong time to start
      interval: 20s
      timeout: 10s
      retries: 20
    profiles:
      - ag

  virtuoso-ut:
    image: openlink/virtuoso-opensource-7:7.2.16
    environment:
      - SPARQL_UPDATE=true
      - DBA_PASSWORD=dba
      - DAV_PASSWORD=dba
    ports:
      - 1111:1111
      - 8890:8890
    volumes:
      - ./test/fixtures/backends/virtuoso_initdb_d:/initdb.d
    healthcheck:
      test: [ "CMD-SHELL", "echo 'status();' | isql localhost:1111 dba dba || exit 1" ]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
    profiles:
      - vo

  graphdb-ut:
    image: ontotext/graphdb:10.8.12
    environment:
      GDB_HEAP_SIZE: 5G
      GDB_JAVA_OPTS: >-
        -Xms5g -Xmx5g
    ports:
      - 7200:7200
      - 7300:7300
    healthcheck:
      test: [ "CMD", "curl", "-sf", "http://localhost:7200/repositories/ontoportal_test/health" ]
      start_period: 10s
      interval: 10s
    volumes:
      - ./test/fixtures/backends/graphdb:/opt/graphdb/dist/configs/templates/data
    entrypoint: >
      bash -c "importrdf load -f -c /opt/graphdb/dist/configs/templates/data/graphdb-repo-config.ttl -m parallel /opt/graphdb/dist/configs/templates/data/graphdb-test-load.nt
      ; graphdb -Ddefault.min.distinct.threshold=3000"
    profiles:
      - gd
